{% extends 'base.html' %}
{% load static %}

{% block title %}iCoder - Future for coders{% endblock %}

{% block cssUrl %}{% static 'home/style.css' %}{% endblock cssUrl %}

{% block active-home %}active{% endblock active-home %}

{% block body %}
    <div class="welcome-banner">
        <div class="left">
            <h3 style="font-weight: bold">Welcome to <span style = 'color: rgb(66, 66, 243)'>iCoder</span></h3>
            <p><h5 style = "">Share your knowledgeable ideas
            </h5></p>
            <div class="buttons">
                <button class = "signup-btn">Signup</button>
                <button class = "other-btn">Learn more!</button>
            </div>
        </div>
        <div class="right">
                <img src="{% static 'images/img1.png' %}" alt="signup-banner">
        </div>
    </div>
{% endblock body %}